/* css/fonts.css */
@font-face {
    font-family: 'Product Sans';
    src: url('fonts/Product-Sans-Regular.woff2') format('woff2'),
         url('fonts/Product-Sans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Product Sans';
    src: url('fonts/Product-Sans-Bold.woff2') format('woff2'),
         url('fonts/Product-Sans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}